@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
body {
  margin: 0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  overflow-y: hidden;
}
.night {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  margin: 0 auto;
  background: url("./assets/Img_1.png");
  background-size: cover;
  position: relative;
  box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
}
.surface {
  height: 140px;
  width: 500%;
  background: url(./assets/Img_02.png);
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-repeat: repeat-x;
  animation: MOVERIGHT 6s linear infinite;
}
.car {
  position: absolute;
  bottom: 6.5%;
  left: 24%;
  animation: suspension 1s linear infinite;
}
/*ANIMATION*/
@keyframes MOVERIGHT {
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes suspension {
  100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(2px);
  }
  0% {
    transform: translateY(-1px);
  }
}
.moveRight {
  animation: MOVERIGHT 0s linear infinite;
}
.bienvenida {
  z-index: 1;
  text-align: center;
  background: inherit;
  height: 10px;
  font-family: "Roboto Condensed", sans-serif;
  
}
.bienvenida h1 {
  color: white;
  font-size: 40px;
  margin-top: 25px;
}
.cotizador {
  margin-top: 20vh;
  transform: translateX(12%);
  background: transparent;
  height: 35vh;
  width: 80vw;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.cotizador h3 {
  padding-top: 10px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
.cotizador:hover {
  background: rgba(255, 255, 255, 0.3);
}
.cotizador select {
  margin-top: 10px;
  width: 50%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 8px;
  margin-left: 10%;
  border-radius: 6px;
  color: #fff;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}
select option {
  color: black;
}
.np {
  margin-top: 10px;
  width: 10.5vw;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}
.fecha {
  margin-top: 10px;
  width: 10.5vw;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
}
.button {
  margin-left: 43%;
  top: 30px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.button:hover {
  background: #916e9e;
  color: #000;
  box-shadow: 0px 0px 10px #791486, 0px 0px 40px#791486, 0px 0px 80px #791486;
  transition-delay: 0.2s;
}

.button span:nth-child(1) {
  top: 0px;
  left: -91%;
  width: 100%;
  height: 2px;
  background: #72308b;
}

.button:hover span:nth-child(1) {
  left: 0%;
  transition: 0.3s;
}

.button span:nth-child(3) {
  bottom: 0px;
  right: -91%;
  width: 100%;
  height: 2px;
  background: #72308b;
}

.button:hover span:nth-child(3) {
  right: 0%;
  transition: 0.3s;
}

.button span:nth-child(2) {
  bottom: -70%;
  right: 0%;
  width: 2px;
  font-weight: 100;
  background: #72308b;
  height: 100%;
}

.button:hover span:nth-child(2) {
  bottom: 0%;
  transition: 0.3s;
}

.button span:nth-child(4) {
  top: -70%;
  left: 0%;
  width: 2px;
  font-weight: 100;
  background: #72308b;
  height: 100%;
}

.button:hover span:nth-child(4) {
  top: 0%;
  transition: 0.3s;
}
@media (max-width: 600px){
    .button {
        margin-left: 35%;
       
      }
}